<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Font tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">

    <title>Print</title>
  </head>
  <body>
    <header>
    </header>

    <div class="container-fluid">
      {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
      <div class="p-3">
        <a class="btn btn-rounded btn-primary" role="button" id = "button-style" href = "javascript:window.history.back();">Regresar</a>
        <span class="pt-3 ps-3 pe-3">
        <a class="btn btn-rounded btn-primary" role="button" id = "inicio-style" href = "/">Inicio</a></span></div>
        <!-- Goldman -->
        <div class = "m-3 p-2 col-md-5 col-sm-11 rounded d-inline-block" id = "Goldman_Frm">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="card" style="border-radius: 1rem;">
                        <div class="card-body py-5 px-4 p-md-5">
                                <h4 class="fw-bold mb-4" id = "file_title">Índice de Goldman</h4>
                                <p class="mb-4">Índice de Riesgo Cardíaco en Cirugía no Cardiaca</p>
                                <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col" style="width: 20%">Criterio</th>
                                        <th scope="col" style="width: 25%">Descripción</th>
                                        <th scope="col" style="width: 15%">Puntaje</th>
                                        <th scope="col" style="width: 30%">Valor expediente</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Edad</td>
                                        <td>&gt;70 años</td>
                                        <td>{{Goldman.edad_p}}</td>
                                        <td>{{Goldman.edad}}</td>
                                      </tr>
                                      <tr>
                                        <td>IAM</td>
                                        <td>Infarto agudo de miocardio en los últimos 6 meses</td>
                                        <td>{{Goldman.IAM_p}}</td>
                                        <td>{{Goldman.IAM}}</td>
                                      </tr>
                                      <tr>
                                        <td class="table-border">JVD</td>
                                        <td class="table-border">Distensión de la vena yugular o</td>
                                        <td rowspan="2">{{Goldman.JVD_p}}</td>
                                        <td class = "table-border">{{Goldman.JVD}}</td>
                                      </tr>
                                      <tr>
                                        <td>Ruido S3</td>
                                        <td>Ruido cardíaco en S3</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Estenosis aórtica significativa</td>
                                        <td>{{Goldman.EA_p}}</td>
                                        <td>{{Goldman.EA}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Ritmo distinto al sinusal o contracciones auriculares prematuras</td>
                                        <td>{{Goldman.ECG_p}}</td>
                                        <td>{{Goldman.ECG}}</td>
                                      </tr>
                                      <tr>
                                        <td>CVP</td>
                                        <td>5 contracciones ventriculares prematuras / min registradas en cualquier momento</td>
                                        <td>{{Goldman.CVP_p}}</td>
                                        <td>{{Goldman.CVP}}</td>
                                      </tr>
                                      <tr>
                                        <td>Estado general de salud</td>
                                        <td>PO2 &lt;60 o PCO2 &gt;50 mm Hg, K&lt; 3.0 o HCO3&lt; 20 meq/litro, BUN&lt; 50 o Cr&lt; 3.0 mg/dl, SGOT abnormal, señales de enfermedad hepática crónica o paciente postrado.</td>
                                        <td>{{Goldman.estado_p}}</td>
                                        <td>{{Goldman.estado}}</td>
                                      </tr>
                                      <tr>
                                        <td>Cirugía</td>
                                        <td>Cirugia intraperitoneal, intratorácica o aórtica</td>
                                        <td>{{Goldman.OR_p}}</td>
                                        <td>{{Goldman.OR}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Cirugía de emergencia</td>
                                        <td>{{Goldman.ER_p}}</td>
                                        <td>{{Goldman.ER}}</td>
                                      </tr>
                                      <hr>
                                      <tr>
                                        <th scope="row">Puntaje Total</th>
                                        <td colspan="2"></td>
                                        <td>{{Goldman.total}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Riesgo encontrado</th>
                                        <td colspan="3">{{Goldman.eval}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                              </div>
                  </div>
                </div>
            </div>
        </div>

        <!-- Form Lee -->
        <div class = "m-3 p-2 col-md-5 col-sm-11 rounded d-inline-block" id = "Lee_Frm">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="card" style="border-radius: 1rem;">
                            <div class="card-body py-5 px-4 p-md-5">
                                <h4 class="fw-bold mb-4" id = "file_title">Puntaje de Lee</h4>
                                <p class="mb-4" id = "file_text">Índice Revisado de Riesgo Cardíaco</p>
                                <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Criterio</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Puntaje</th>
                                        <th scope="col">Valor encontrado en el expediente</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Cirugía de alto riesgo</td>
                                        <td>Cirugía intraperitoneal, intratorácica o suprainguinal vascular</td>
                                        <td>{{Lee.OR_p}}</td>
                                        <td>{{Lee.OR}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Historial de enfermedad cardíaca isquémica</td>
                                        <td>{{Lee.isq_p}}</td>
                                        <td>{{Lee.isq}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Historial de enfermedad cardíaca congestiva</td>
                                        <td>{{Lee.cong_p}}</td>
                                        <td>{{Lee.cong}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Historial de enfermedad cerebrovascular</td>
                                        <td>{{Lee.CV_p}}</td>
                                        <td>{{Lee.CV}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Terapia de insulina para diabéticos</td>
                                        <td>{{Lee.diab_p}}</td>
                                        <td>{{Lee.diab}}</td>
                                      </tr>
                                      <tr>
                                        <td>Creatinina</td>
                                        <td>Creatinina preoperatoria &lt; a 2 mg/dL (o &lt; 177 micromol/L)</td>
                                        <td>{{Lee.Cr_p}}</td>
                                        <td>{{Lee.Cr}}</td>
                                      </tr>
                                      <hr>
                                      <tr>
                                        <th scope="row">Puntaje Total</th>
                                        <td colspan="2"></td>
                                        <td>{{Lee.total}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Riesgo encontrado</th>
                                        <td colspan="3">{{Lee.eval}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form Detsky -->
        <div class = "m-3 p-2 col-md-5 col-sm-11 rounded d-inline-block" id = "Detsky_Frm">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="card" style="border-radius: 1rem;">
                            <div class="card-body py-5 px-4 p-md-5">
                                <h4 class="fw-bold mb-4" id = "file_title">Índice Detsky</h4>
                                <p class="mb-4" id = "file_text">Índice Modificado de Riesgo Cardíaco de Detsky</p>
                                <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Criterio</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Puntaje</th>
                                        <th scope="col">Valor encontrado en el expediente</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>IAM</td>
                                        <td>Infarto agudo de miocardio (el puntaje varía si fue hace más o menos de 6 meses)</td>
                                        <td>{{Detsky.IAM_p}}</td>
                                        <td>{{Detsky.IAM}}</td>
                                      </tr>
                                      <tr>
                                        <td>Angina de pecho</td>
                                        <td>Según la Sociedad Cardiovascular Canadiense</td>
                                        <td>{{Detsky.ang_p}}</td>
                                        <td>{{Detsky.ang}}</td>
                                      </tr>
                                      <tr>
                                        <td>Anigna</td>
                                        <td>Angina inestable &gt; 3 meses</td>
                                        <td>{{Detsky.angina_p}}</td>
                                        <td>{{Detsky.angina}}</td>
                                      </tr>
                                      <tr>
                                        <td>Edema pulmonar</td>
                                        <td>&gt; varía el puntaje si fue hace 1 semana o en cualquier otro momento</td>
                                        <td>{{Detsky.edema_p}}</td>
                                        <td>{{Detsky.edema}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Estenosis aórtica</td>
                                        <td>{{Detsky.EA_p}}</td>
                                        <td>{{Detsky.EA}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Ritmo distinto al sinusal o extrasístoles auriculares</td>
                                        <td>{{Detsky.ECG_p}}</td>
                                        <td>{{Detsky.ECG}}</td>
                                      </tr>
                                      <tr>
                                        <td>CAP</td>
                                        <td>5 contracciones auriculares prematuras / min registradas en cualquier momento</td>
                                        <td>{{Detsky.CAP_p}}</td>
                                        <td>{{Detsky.CAP}}</td>
                                      </tr>
                                      <tr>
                                        <td>Estado general de salud</td>
                                        <td>PO2 &lt;60 o PCO2 &gt;50 mm Hg, K&lt; 3.0 o HCO3&lt; 20 meq/litro, BUN&lt; 50 o Cr&lt; 3.0 mg/dl, SGOT abnormal, señales de enfermedad hepática crónica o paciente postrado.</td>
                                        <td>{{Detsky.estado_p}}</td>
                                        <td>{{Detsky.estado}}</td>
                                      </tr>
                                      <tr>
                                        <td>Edad</td>
                                        <td>&gt;70 años</td>
                                        <td>{{Detsky.edad_p}}</td>
                                        <td>{{Detsky.edad}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Cirugía de emergencia</td>
                                        <td>{{Detsky.ER_p}}</td>
                                        <td>{{Detsky.ER}}</td>
                                      </tr>
                                      <hr>
                                      <tr>
                                        <th scope="row">Puntaje Total</th>
                                        <td colspan="2"></td>
                                        <td>{{Detsky.total}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Riesgo encontrado</th>
                                        <td colspan="3">{{Detsky.eval}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form Padua -->
        <div class = "m-3 p-2 col-md-5 col-sm-11 rounded d-inline-block" id = "Padua_Frm">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="card" style="border-radius: 1rem;">
                            <div class="card-body py-5 px-4 p-md-5">
                                <h4 class="fw-bold mb-4" id = "file_title">Puntaje Predictivo de Padua</h4>
                                <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Criterio</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Puntaje</th>
                                        <th scope="col">Valor encontrado en el expediente</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Cáncer activo</td>
                                        <td>Metástasis y/o han pasado por quimioterapia o radioterapia en los últimos 6 meses</td>
                                        <td>{{Padua.cancer_p}}</td>
                                        <td>{{Padua.cancer}}</td>
                                      </tr>
                                      <tr>
                                        <td>Tromboembolismo venoso</td>
                                        <td>Excluyendo trombosis venosa superficial</td>
                                        <td>{{Padua.TEV_p}}</td>
                                        <td>{{Padua.TEV}}</td>
                                      </tr>
                                      <tr>
                                        <td>Movilidad reducida</td>
                                        <td>Postrado con privilegios de baño (por incapacidad del paciente u órdenes del médico) por lo menos 3 días</td>
                                        <td>{{Padua.mov_p}}</td>
                                        <td>{{Padua.mov}}</td>
                                      </tr>
                                      <tr>
                                        <td>Condición trombofília conocida</td>
                                        <td>Defectos de antitrombina, proteína C o S, factor V Leiden, mutación de protrombina G20210A, síndrome antifosfolípido</td>
                                        <td>{{Padua.trombo_p}}</td>
                                        <td>{{Padua.trombo}}</td>
                                      </tr>
                                      <tr>
                                        <td>Trauma reciente o cirugía</td>
                                        <td>&gt;= 1 mes</td>
                                        <td>{{Padua.OR_p}}</td>
                                        <td>{{Padua.OR}}</td>
                                      </tr>
                                      <tr>
                                        <td>Edad</td>
                                        <td>&gt;70 años</td>
                                        <td>{{Padua.edad_p}}</td>
                                        <td>{{Padua.edad}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Falla cardíaca y/o respiratoria</td>
                                        <td>{{Padua.falla_p}}</td>
                                        <td>{{Padua.falla}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Desorden reumatológico agudo o infarto agudo de miocardio</td>
                                        <td>{{Padua.IAM_p}}</td>
                                        <td>{{Padua.IAM}}</td>
                                      </tr>
                                      <tr>
                                        <td>Obesidad</td>
                                        <td>BMI &gt;= 30</td>
                                        <td>{{Padua.BMI_p}}</td>
                                        <td>{{Padua.BMI}}</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Tratamiento hormonal actual</td>
                                        <td>{{Padua.TH_p}}</td>
                                        <td>{{Padua.TH}}</td>
                                      </tr>
                                      <hr>
                                      <tr>
                                        <th scope="row">Puntaje Total</th>
                                        <td colspan="2"></td>
                                        <td>{{Padua.total}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Riesgo encontrado</th>
                                        <td colspan="3">{{Padua.eval}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3" id="Guarda_archivo">
          Guardar los resultados:
          <a class="btn btn-rounded btn-primary" role="button" id = "Save_File" onclick="openForm()">Descargar</a>
        </div>

        <!-- Form para guardar archivo -->
        <div class="form-popup" id="Form_guardar">
          <form action="http://localhost:5000/save" class="form-container">
            <h1  id="Guarda_title">Guardar los datos</h1>

            <label for="nombre" id="Guarda_subtitle"><b>Nombre del archivo</b></label>
            <input type="text" placeholder="Introduce el nombre del archivo sin extensión" name="nombre" required>

            <input type="hidden" id="Goldman_Save" name="GoldmanSave" value="{{Goldman.IAM}}">

            <button type="submit" class="btn">Guardar</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancelar</button>
          </form>
        </div>
      </div>
    <footer class="panel-footer">
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        async function getRequest(url = '') {
            const response = await fetch(url, {
                method: 'GET',
                cache: 'no-cache'
            })
            return response.json()
        }
        document.addEventListener('DOMContentLoaded', function () {
            let url = document.location
            let route = "/flaskwebgui-keep-server-alive"
            let interval_request = 3 * 1000 //sec
            function keep_alive_server() {
                getRequest(url + route)
                    .then(data => console.log(data))
            }
            setInterval(keep_alive_server, interval_request)()
        })
    </script>
  </body>
</html>