<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Font tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/validar-script.js') }}"></script>

    <title>Validar</title>
  </head>
  <body>
    <header>
    </header>

<div class="container-fluid">

    <!-- Form Goldman -->
    {% if Goldman.is_empty != 0 %} <script>Hide_Form("Goldman_Frm")</script> {% endif %}
    <div class = "m-3 p-3 col-md-4 rounded d-inline-block" id = "Goldman_Frm">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                    <div class="col-md-12 d-flex align-items-center">
                        <div class="card-body py-5 px-4 p-md-5">
                            <form action = "http://localhost:5000/print" method = "POST" enctype = "multipart/form-data" id="Form">
                                <h4 class="fw-bold mb-4" id = "file_title">Criterios Faltantes</h4>
                                <p class="mb-4" id = "file_text">Estos criterios no fueron encontrados en el expediente, por favor responda de acuerdo a su paciente.</p>
                                {% if Goldman.edad_p == -1 %}
                                <input type="hidden" id="Edad_Value" value="Seleccionado por el usuario">
                                <label for="Goldman_edad" class="form-label">Edad
                                    <select class="form-select form-select-sm" id ="Edad_Point" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente tiene más de 70 años</option>
                                        <option value="0">El paciente tiene 70 años o menos</option>
                                    </select></label>
                                {%else %} <input type="hidden" id="Edad_Value" value="">
                                <script>SetVariable({{Goldman.edad}},"Edad_Value")</script>>{% endif %}
                                {% if Goldman.IAM_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_IAP" class="form-label">Infarto Agudo de Miocardio</label>
                                    <select class="form-select form-select-sm" id= "Goldman_IAP" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="Paciente presentó un IAM en los últimos 6 meses, 10">Paciente presentó un IAM en los últimos 6 meses</option>
                                        <option value="Paciente presentó un IAM hace más de 6 meses, 5">Paciente presentó un IAM hace más de 6 meses</option>
                                        <option value="No cumple con el criterio de IAM, 0">Paciente no presentó un IAM</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Goldman.JVD_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_JVD" class="form-label">Distensión de la Vena Yugular</label>
                                    <select class="form-select form-select-sm" id= "Goldman_JVD" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="11">Paciente presenta distensión de la vena yugular o ruido cardiaco en S3</option>
                                        <option value="0">Paciente no presenta distensión de la vena yugular o ruido cardiaco en S3</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Goldman.EA_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_EA" class="form-label">Estenosis Aórtica</label>
                                    <select class="form-select form-select-sm" id= "Goldman_EA" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">Paciente presenta estenosis aórtica significativa</option>
                                        <option value="0">Paciente no presenta estenosis aórtica significativa</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Goldman.ECG_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_ECG" class="form-label">Electrocardiograma</label>
                                    <select class="form-select form-select-sm" id= "Goldman_ECG" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="7">Paciente presenta ritmo distinto al sinusal o contracciones auriculares prematuras en su último ECG</option>
                                        <option value="0">Paciente no presenta ritmo distinto al sinusal o CAP en su último ECG</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Goldman.CVP_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_CVP" class="form-label">Contracciones Ventriculares Prematuras</label>
                                    <select class="form-select form-select-sm" id= "Goldman_CVP" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="7">Paciente presenta más de 5 CVP's / min documentados en cualquier momento</option>
                                        <option value="0">Paciente no presenta más de 5 CVP's / min documentados en cualquier momento</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Goldman.estado_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_estado" class="form-label">Pobre Estado Médico General</label>
                                <!-- Agregar descripción-->
                                    <select class="form-select form-select-sm" id= "Goldman_estado" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">Paciente presenta pobre estado médico general</option>
                                        <option value="0">Paciente no presenta pobre estado médico general</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Goldman.OR_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_OR" class="form-label">Operación</label>
                                    <select class="form-select form-select-sm" id= "Goldman_OR" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">La cirugía es intraperitoneal, intratorácica o aórtica</option>
                                        <option value="0">La cirugía no es ninguna de las anteriores</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Goldman.ER_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_ER" class="form-label">Operación de emergencia</label>
                                    <select class="form-select form-select-sm" id= "Goldman_ER" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="4">La cirugía es de emergencia</option>
                                        <option value="0">La cirugía no es de emergencia</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Lee.Cr_p == -1 %}
                                <div class="mb-3">
                                <label for="Lee_Cr" class="form-label">Creatinina Preoperatoria</label>
                                    <select class="form-select form-select-sm" id= "Lee_Cr" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente presenta creatinina preoperatoria mayor a 2 mg/dL (o &gt; 177 micromol/L)</option>
                                        <option value="0">El paciente no presenta creatinina preoperatoria mayor a 2 mg/dL (o &gt; 177 micromol/L)</option>
                                    </select>
                                </div>
                                {% endif %}
                                <div class="d-flex justify-content-end pt-1 mb-4">
                                    <button type="submit" class="btn btn-primary btn-rounded" id = "submit_file">Enviar</button>
                                 </div>
                                 <hr>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <footer class="panel-footer">
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        async function getRequest(url = '') {
            const response = await fetch(url, {
                method: 'GET',
                cache: 'no-cache'
            })
            return response.json()
        }
        document.addEventListener('DOMContentLoaded', function () {
            let url = document.location
            let route = "/flaskwebgui-keep-server-alive"
            let interval_request = 3 * 1000 //sec
            function keep_alive_server() {
                getRequest(url + route)
                    .then(data => console.log(data))
            }
            setInterval(keep_alive_server, interval_request)()
        })
    </script>
  </body>
</html>