<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Font tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">

    <title>Validar</title>
  </head>
  <body>
    <header>
    </header>

<div class="container-fluid">
    <div class="pt-3 ps-3 pe-3">
        <a class="btn btn-rounded btn-primary" role="button" id = "button-style" href = "javascript:window.history.back();">Regresar</a></div>
    <!-- Form -->
    <div class = "m-3 p-3 col-md-6 col-sm-11 rounded d-inline-block position-absolute top-20 start-50 translate-middle-x" id = "Padua_Frm">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                    <div class="col-md-12 d-flex align-items-center">
                        <div class="card-body py-5 px-4 p-md-5">
                            <form action = "/print" method = "POST">
                                <h4 class="fw-bold mb-4" id = "file_title" >Criterios Faltantes</h4>
                                <p class="mb-4">Estos criterios no fueron encontrados en el expediente, por favor responda de acuerdo a su paciente.</p>
                                <hr>
                                {% if Goldman.edad_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_edad" class="form-label">Edad
                                    <select class="form-select form-select-sm" name="Goldman_edad" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="5">El paciente tiene más de 70 años</option>
                                        <option value="0">El paciente tiene 70 años o menos</option>
                                    </select></label>
                                </div>
                               {% endif %}
                                {% if Goldman.IAM_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_IAM" class="form-label">Infarto Agudo de Miocardio
                                    <select class="form-select form-select-sm" name="Goldman_IAM" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="10">Paciente presentó un IAM en los últimos 6 meses</option>
                                        <option value="5">Paciente presentó un IAM hace más de 6 meses</option>
                                        <option value="0">Paciente no presentó un IAM</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Goldman.JVD_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_JVD" class="form-label">Distensión de la Vena Yugular
                                    <select class="form-select form-select-sm" name="Goldman_JVD" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="11">Paciente presenta distensión de la vena yugular o ruido cardiaco en S3</option>
                                        <option value="0">Paciente no presenta distensión de la vena yugular o ruido cardiaco en S3</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Goldman.EA_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_EA" class="form-label">Estenosis Aórtica
                                    <select class="form-select form-select-sm" name="Goldman_EA" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">Paciente presenta estenosis aórtica significativa</option>
                                        <option value="0">Paciente no presenta estenosis aórtica significativa</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Goldman.ECG_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_ECG" class="form-label">Electrocardiograma (Goldman)
                                    <select class="form-select form-select-sm" name="Goldman_ECG" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="7">Paciente presenta ritmo distinto al sinusal o contracciones auriculares prematuras en su último ECG</option>
                                        <option value="0">Paciente no presenta ritmo distinto al sinusal o CAP en su último ECG</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Detsky.ECG_p == -1 %}
                                <div class="mb-3">
                                <label for="Detsky_ECG" class="form-label">Electrocardiograma (Detsky)
                                    <select class="form-select form-select-sm" name="Detsky_ECG" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="5">Paciente presenta ritmo distinto al sinusal o extrasístoles auriculares</option>
                                        <option value="0">Paciente no presenta ritmo distinto al sinusal o extrasístoles auriculares</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Goldman.CVP_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_CVP" class="form-label">Contracciones Ventriculares Prematuras
                                    <select class="form-select form-select-sm" name="Goldman_CVP" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="7">Paciente presenta más de 5 CVP's / min documentados en cualquier momento</option>
                                        <option value="0">Paciente no presenta más de 5 CVP's / min documentados en cualquier momento</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Goldman.estado_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_estado" class="form-label">Pobre Estado Médico General</label>
                                <p class = "parr_size">PO2 (presión parcial de oxígeno) &lt; 60 o PCO2 (presión parcial de dióxido de carbono) &gt; 50 mm Hg, K (potasio) &lt; 3.0 o HCO3 (bicarbonato) &gt; 20 meq/litro, BUN (nitrógeno ureico en sangre) > 50 o Cr (creatinina) > 3.0 mg/dl, SGOT (transaminasa glutámico-oxalacética) abnormal, señales de enfermedad hepática crónica o paciente postrado por causas no-cardíacas</p>
                                    <select class="form-select form-select-sm" name="Goldman_estado" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">Paciente presenta pobre estado médico general</option>
                                        <option value="0">Paciente no presenta pobre estado médico general</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if Goldman.OR_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_OR" class="form-label">Operación (Goldman)
                                    <select class="form-select form-select-sm" name="Goldman_OR" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">La cirugía es intraperitoneal o intratorácica o aórtica</option>
                                        <option value="0">La cirugía no es ninguna de las anteriores</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Lee.OR_p == -1 %}
                                <div class="mb-3">
                                <label for="Lee_OR" class="form-label">Operación (Lee)
                                    <select class="form-select form-select-sm" name="Lee_OR" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">La cirugía es intraperitoneal, intratorácica o suprainguinal vascular</option>
                                        <option value="0">La cirugía no es ninguna de las anteriores</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Goldman.ER_p == -1 %}
                                <div class="mb-3">
                                <label for="Goldman_ER" class="form-label">Operación de emergencia
                                    <select class="form-select form-select-sm" name="Goldman_ER" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="4">La cirugía es de emergencia</option>
                                        <option value="0">La cirugía no es de emergencia</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Lee.isq_p == -1 %}
                                <div class="mb-3">
                                <label for="Lee_isq" class="form-label">Enfermedad cardíaca isquémica
                                    <select class="form-select form-select-sm" name="Lee_isq" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente presenta historial de enfermedad cardíaca isquémica</option>
                                        <option value="0">El paciente no presenta historial de enfermedad cardíaca isquémica</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Lee.cong_p == -1 %}
                                <div class="mb-3">
                                <label for="Lee_cong" class="form-label">Enfermedad cardíaca congestiva
                                    <select class="form-select form-select-sm" name="Lee_cong" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente presenta historial de enfermedad cardíaca congestiva</option>
                                        <option value="0">El paciente no presenta historial de enfermedad cardíaca congestiva</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Lee.CV_p == -1 %}
                                <div class="mb-3">
                                <label for="Lee_CV" class="form-label">Enfermedad cerebrovascular
                                    <select class="form-select form-select-sm" name="Lee_CV" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente presenta historial de enfermedad cerebrovascular</option>
                                        <option value="0">El paciente no presenta historial de enfermedad cerebrovascular</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Lee.diab_p == -1 %}
                                <div class="mb-3">
                                <label for="Lee_diab" class="form-label">Terapia de insulina
                                    <select class="form-select form-select-sm" name="Lee_diab" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente está en terapia de insulina para diabéticos</option>
                                        <option value="0">El paciente no está en terapia de insulina para diabéticos</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Lee.Cr_p == -1 %}
                                <div class="mb-3">
                                <label for="Lee_Cr" class="form-label">Creatinina Preoperatoria
                                    <select class="form-select form-select-sm" name="Lee_Cr" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente presenta creatinina preoperatoria mayor a 2 mg/dL (o &gt; 177 micromol/L)</option>
                                        <option value="0">El paciente no presenta creatinina preoperatoria mayor a 2 mg/dL (o &gt; 177 micromol/L)</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Detsky.ang_p == -1 %}
                                <div class="mb-3">
                                <label for="Detsky_ang" class="form-label">Angina de pecho según la Sociedad Cardiovascular Canadiense
                                <p class = "parr_size">Clase III -&gt; Marcada limitación de la actividad física ordinaria. Se le dificulta caminar una o dos cuadras o subir un tramo de escaleras en condiciones y ritmo normales.</p>
                                <p class = "parr_size">Clase IV -&gt; Incapacidad para llevar a cabo cualquier actividad física sin molestias. El síndrome anginoso puede estar presente en reposo</p>
                                    <select class="form-select form-select-sm" name="Detsky_ang" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="10">El paciente presenta angina Clase III</option>
                                        <option value="20">El paciente presenta angina Clase IV</option>
                                        <option value="0">Ninguna de las anteriores</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Detsky.angina_p == -1 %}
                                <div class="mb-3">
                                <label for="Detsky_angina" class="form-label">Angina inestable
                                    <select class="form-select form-select-sm" name="Detsky_angina" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="10">El paciente presenta angina inestable desde hace menos de 3 meses</option>
                                        <option value="0">El paciente no presenta angina inestable desde hace menos de 3 meses</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Detsky.edema_p == -1 %}
                                <div class="mb-3">
                                <label for="Detsky_edema" class="form-label">Edema pulmonar
                                    <select class="form-select form-select-sm" name="Detsky_edema" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="10">El paciente presenta edema pulmonar desde hace menos de 1 semana</option>
                                        <option value="5">El paciente presenta edema pulmonar desde hace más de 1 semana</option>
                                        <option value="0">El paciente no presenta edema pulmonar</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Detsky.CAP_p == -1 %}
                                <div class="mb-3">
                                <label for="Detsky_CAP" class="form-label">Contracciones auriculares prematuras
                                    <select class="form-select form-select-sm" name="Detsky_CAP" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="5">El paciente presenta &gt;5 CAP / min documentados en cualquier momento</option>
                                        <option value="0">El paciente no presenta &gt;5 CAP / min documentados en cualquier momento</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.cancer_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_cancer" class="form-label">Cáncer
                                <p class = "parr_size">Metástasis y/o han pasado por quimioterapia o radioterapia en los últimos 6 meses</p>
                                    <select class="form-select form-select-sm" name="Padua_cancer" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">El paciente presenta cáncer activo</option>
                                        <option value="0">El paciente no presenta cáncer activo</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.TEV_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_TEV" class="form-label">Tromboembolismo venoso
                                    <select class="form-select form-select-sm" name="Padua_TEV" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">El paciente presenta tromboembolismo venoso (excluyendo trombosis venosa superficial)</option>
                                        <option value="0">El paciente no presenta tromboembolismo venoso </option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.mov_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_mov" class="form-label">Movilidad reducida
                                <p class = "parr_size">Postrado con privilegios de baño (por incapacidad del paciente u órdenes del médico) por lo menos 3 días</p>
                                    <select class="form-select form-select-sm" name="Padua_mov" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">El paciente presenta movilidad reducida</option>
                                        <option value="0">El paciente no presenta movilidad reducida</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.trombo_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_trombo" class="form-label">Condición trombofília conocida
                                <p class = "parr_size">Defectos de antitrombina, proteína C o S, factor V Leiden, mutación de protrombina G20210A, síndrome antifosfolípido</p>
                                    <select class="form-select form-select-sm" name="Padua_trombo" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="3">El paciente presenta condición trombofília conocida</option>
                                        <option value="0">El paciente no presenta condición trombofília conocida</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.OR_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_OR" class="form-label">Trauma reciente o cirugía
                                    <select class="form-select form-select-sm" name="Padua_OR" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="2">El paciente ha tenido trauma o cirugía en el último mes</option>
                                        <option value="0">El paciente no ha tenido trauma o cirugía en el último mes</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.falla_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_falla" class="form-label">Falla cardíaca o respiratoria
                                    <select class="form-select form-select-sm" name="Padua_falla" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente presenta falla cardíaca o respiratoria</option>
                                        <option value="0">El paciente no presenta falla cardíaca o respiratoria</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.IAM_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_IAM" class="form-label">Desorden reumatológico agudo o infarto agudo de miocardio
                                    <select class="form-select form-select-sm" name="Padua_IAM" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente presenta desorden reumatológico agudo o IAM</option>
                                        <option value="0">El paciente no presenta desorden reumatológico agudo o IAM</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.BMI_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_BMI" class="form-label">Obesidad
                                <p class = "parr_size">BMI &gt;= 30</p>
                                    <select class="form-select form-select-sm" name="Padua_BMI" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente presenta obesidad</option>
                                        <option value="0">El paciente no presenta obesidad</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                {% if Padua.TH_p == -1 %}
                                <div class="mb-3">
                                <label for="Padua_TH" class="form-label">Tratamiento hormonal
                                    <select class="form-select form-select-sm" name="Padua_TH" required>
                                        <option selected value="" disabled>Por favor selecciona de acuerdo a tu paciente</option>
                                        <option value="1">El paciente se encuentra en tratamiento hormonal</option>
                                        <option value="0">El paciente no se encuentra en tratamiento hormonal</option>
                                    </select></label>
                                </div>
                                {% endif %}
                                <div class="d-flex justify-content-end pt-1 mb-4">
                                    <button type="submit" class="btn btn-primary btn-rounded" id = "submit_file">Enviar</button>
                                 </div>
                                 <hr>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <footer class="panel-footer">
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        async function getRequest(url = '') {
            const response = await fetch(url, {
                method: 'GET',
                cache: 'no-cache'
            })
            return response.json()
        }
        document.addEventListener('DOMContentLoaded', function () {
            let url = document.location
            let route = "/flaskwebgui-keep-server-alive"
            let interval_request = 3 * 1000 //sec
            function keep_alive_server() {
                getRequest(url + route)
                    .then(data => console.log(data))
            }
            setInterval(keep_alive_server, interval_request)()
        })
    </script>
  </body>
</html>